<<<<<<< HEAD
/*
work in progress
*/
html, body{
    margin: auto;
    padding: 1%;
=======
/*
work in progress
*/
html, body{
    margin: auto;
    padding: 1%;
>>>>>>> eae71e0f1529e7614c57b4d111b0e66199921742
}